<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>phpcmsV9 - {L('member','','member').L('manage_center')}</title>
<link href="{CSS_PATH}reset.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}member.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}table_form.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
<script type="text/javascript" src="{JS_PATH}member_common.js"></script>
{if isset($show_validator)}
<script type="text/javascript" src="{JS_PATH}formvalidator.js" charset="UTF-8"></script>
<script type="text/javascript" src="{JS_PATH}formvalidatorregex.js" charset="UTF-8"></script>
{/if}
</head>
<body>
<div id="header">
	<div class="logo"><a href="{$siteinfo['domain']}"><img src="{IMG_PATH}v9/logo.jpg" height="60" /></a><h3>{L('member_center')}</h3></div>
	{php $siteinfo = siteinfo($this->memberinfo['siteid']);}
	{php $this->menu_db = pc_base::load_model('member_menu_model');}
	{php $menu = $this->menu_db->select(array('display'=>1, 'parentid'=>0), '*', 20 , 'listorder');}
    <div class="link">{L('hellow')} {get_nickname()}<span> | </span>
	<a href="{APP_PATH}index.php?m=member&c=index&a=logout">{L('logout')}</a>
	<span> | </span><a href="{$siteinfo['domain']}">{L('index')}</a> </div>
	<div class="nav-bar">
    	<map>
        	<ul class="nav-site cu-span">
				{loop $menu $k $v}
				<li>
					{if $v['isurl']}
						<a href="{$v['url']}" target="_blank"><span>{L($v['name'], '', 'member_menu')}</span></a>
					{else}
						<a href="index.php?m={$v['m']}&c={$v['c']}&a={$v['a']}&{$v['data']}" {if $k==$_GET['t']}class="on"{/if}><span>{L($v['name'], '', 'member_menu')}</span></a>
					{/if}
					</li>
					<li class="line">|</li>
				{/loop}
            </ul>
        </map>
    </div>
</div><div id="memberArea">
{template 'member', 'account_manage_left'}
<div class="col-auto">
	<div class="col-1 ">
		<h5 class="title">{L('memberinfo')}：</h5>
		<div class="content">
		<div class="col-1 member-info">
		<div class="content">
			<div class="col-left himg">
				<a title="{L('modify').L('avatar')}" href="index.php?m=member&c=index&a=account_manage_avatar&t=1"><img src="{$avatar[90]}" width="60" height="60" onerror="this.src='{$phpsso_api_url}/statics/images/member/nophoto.gif'"></a>
			</div>
			<div class="col-auto">
				<h5>{if $memberinfo['vip']}<img src="{IMG_PATH}icon/vip.gif">{elseif $memberinfo['overduedate']}<img src="{IMG_PATH}icon/vip-expired.gif" title="{L('overdue')}，{L('overduedate')}：{format::date($memberinfo['overduedate'],1)}">{/if}
				<font color="{$grouplist[$memberinfo[groupid]]['usernamecolor']}">
				{if $memberinfo['nickname']} {$memberinfo['nickname']} {else} {$memberinfo['username']}{/if} 
				</font>
				{if $memberinfo['email']}（{$memberinfo['email']}）{/if}</h5>
				<p class="blue">
				{L('member_group')}：{$grouplist[$memberinfo['groupid']]['name']}，
				{L('account_remain')}：<font style="color:#F00; font-size:22px;font-family:Georgia,Arial; font-weight:700">{$memberinfo[amount]}</font> {L('unit_yuan')}，
				{L('point')}：<font style="color:#F00; font-size:12px;font-family:Georgia,Arial; font-weight:700">{$memberinfo[point]}</font> {L('unit_point')}{if $memberinfo['vip']}，vip{L('overduedate')}：<font style="color:#F00; font-size:12px;font-family:Georgia,Arial; font-weight:700">{format::date($memberinfo['overduedate'])}</font>{/if}
				</p>
			</div>
		</div>
	</div>

	<div class="bk10"></div>	
	<div class="col-1 ">
		<h5 class="title">{L('more_configuration')}：</h5>
		<div class="content">
				<table width="100%" cellspacing="0" class="table_form">
					<tr>
						<th width="120">{L('username')}</th>        
						<td>{$memberinfo['username']}</td>
					</tr>
					<tr>
						<th width="120">{L('in_model')}：</th>        
						<td>{$member_model[$memberinfo['modelid']]['name']}</td>
					</tr>
					<tr>
						<th width="120">{L('regtime')}：</th>        
						<td>{FORMAT::date($memberinfo['regdate'] ,1)}</td>
					</tr>
					<tr>
						<th width="120">{L('lastlogintime')}：</th>        
						<td>{FORMAT::date($memberinfo['lastdate'] ,1)}</td>
					</tr>
					<tr>
						<th width="120">{L('regip')}：</th>        
						<td>{$memberinfo['regip']}</td>
					</tr>
					<tr>
						<th width="120">{L('lastip')}：</th>        
						<td>{$memberinfo['lastip']}</td>
					</tr>
					<tr>
						<th width="120">{L('mp')}：</th>        
						<td style="color:#ff6600;"><strong>{if $memberinfo['mobile']}{substr($memberinfo['mobile'],0,3)}****{substr($memberinfo['mobile'],-4)}{/if}</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="更换手机" class="button" onclick="redirect('?m=member&c=index&a=account_change_mobile&t=1')"></td>
					</tr>
					{loop $member_modelinfo $k $v}
					<tr>
						<th width="120">{$k}：</th>        
						<td>{$v}</td>
					</tr>
					{/loop}
				</table>
		</div>
	</div>
</div>
</div>
</div>
<div class="clear"></div>
<div id="footer">
{pc:content action="category" catid="1" num="15" siteid="$siteid" order="listorder ASC"}
{loop $data $r}
<a href="{$r[url]}" target="_blank">{$r[catname]}</a> |  
{/loop}
{/pc}
<a href="{APP_PATH}index.php?m=link" target="_blank">友情链接</a>

<p class="cp">Powered by <strong><a href="http://www.phpcms.cn" target="_blank">PHPCMS</a></strong> <em>v9</em> &copy; {date('Y', SYS_TIME)} <img src="{IMG_PATH}copyright.gif"/>
</p>
</div>
</body>
</html>