{template 'member', 'header'}
  <script src="layer/layer.js"></script>
<style>
	.sell-table ul li{ width: 25% !important}
</style>

<div class="jytop1">
    <div class="jytop">
        <div class="img" style="width: 100%; float: left">
            <img src="images/logo.png" width="60px" style="float: left">
			<p class="p2" style="font-size: 28px; float: left; line-height: 77px; margin-left: 10px;">{$data[title]}（${$data[usd]}）</p>
        </div>
    </div>
</div>
<ul class="mmnav">
	<li><a class="btn btn-info" href="index.php?m=member&a=trade_buy">买入PSBC</a></li>
	<li><a class="btn btn-info" href="index.php?m=member&a=trade_my">我的交易</a></li>
	<li><a class="btn btn-info" href="index.php?m=member&a=trade">卖出PSBC</a></li>
    <div class="clear"></div>
</ul>
<div class="rule1">
    <div class="rule">
        <p class="size16 white">交易规则</p>
        <p class="size12 white">200枚为1手，交易最低1手，最高持币量10%，匹配成功后请在120分钟内支付，否则取消交易，连续三次未按时支付账号将被冻结</p>
    </div>
</div>
<div class="sell_submit">
    <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control sellinput" id="num" placeholder="卖出数量">
          <div class="input-group-addon submit white" onClick="sell(2)">卖出</div>
        </div>
      </div>
    </form>
</div>
<div class="border"></div>
<div class="border"></div>
<div class="border"></div>
<div class="sell-table">
	<ul>
    	<li class="fl">TA卖</li>
    	<li class="fl">数量</li>
    	<li class="fl">已成交</li>
    	<li class="fl">单价</li>
        <div class="clear"></div>
    </ul>
{pc:get sql="SELECT a.*,b.truename FROM v9_trade a,v9_member_detail b WHERE a.username = b.userid and a.type = 2 and a.status !=3 and a.status !=0 and a.username = '$userid' order by a.price desc,a.id desc  " num="10" return="info"} 
{loop $info $r}
    <div class="border"></div>
	<ul>
    	<li class="fl">{$r[truename]}</li>
    	<li class="fl">{$r[title]}</li>
    	<li class="fl">{$r[num]}</li>
    	<li class="fl">{$r[price]}</li>
        <div class="clear"></div>
    </ul>
{/loop}  
{/pc}
    <div class="border"></div>
</div>
<div class="hei40"></div>
<script>
function sell(id){
	var num = $('#num').val();
	if(!num){
		layer.msg("请输入交易数量", {icon: 2});
		return false;
	}
	if(num<200){
		layer.msg("最低交易量为200", {icon: 2});
		return false;
	}
	if(num%200){
		layer.msg("交易数量需为200的倍数", {icon: 2});
		return false;
	}

	$.post("index.php?m=member&a=trade1", {
		type : id,
		num : num
	}, function (data) {
		if (data.stat == 1) {
			layer.msg(data.msg, {icon: 1});
			window.setTimeout("window.location='index.php?m=member&a=trade_my&ac=2'", 1000);
		} else {
			layer.msg(data.msg, {icon: 2});
		}
	}, "json");
		

	
	
	
	
	
	
	
	
	
}
	
	
	
	
</script>

{template 'member', 'footer'}