{template 'member', 'header'}


<div class="jytop1">
    <div class="jytop2">
        <div class="img">
            <img class="fl" src="images/logo1.png" width="50px">
            <div class="fl" style="margin-left:15px">
            	<p class="size12">手机：{$memberinfo['mobile']}</p>
            	<p class="size12">UID：{$memberinfo['userid']}</p>
            </div>
            <div class="clear"></div>
        </div>
        <p class="p1 size16">可用币量： {$memberinfo['amount']}</p>
    </div>
</div>
<div class="wdzh padding15">
	<div class="fl">
    	<div><img src="images/zh_1.png"></div>
        <div><a href="index.php?m=member&a=sys">账户设置</a></div>
    </div>
	<div class="fl">
    	<div><img src="images/zh_2.png"></div>
        <div><a href="index.php?m=member&a=sec">安全设置</a></div>
    </div>
	<div class="fl">
    	<div><img src="images/zh_3.png" ></div>
        <div><a href="index.php?m=member&a=suo">锁仓生息</a></div>
    </div>
	<div class="fl">
    	<div><img src="images/zh_4.png"></div>
        <div><a href="index.php?m=member&a=user">虚拟币转入</a></div>
    </div>
	<div class="fl">
    	<div><img src="images/zh_5.png"></div>
        <div><a href="index.php?m=member&a=user">虚拟币转出</a></div>
    </div>
	<div class="fl">
    	<div><img src="images/zh_6.png"></div>
        <div><a href="list-9-1.html">常见问题</a></div>
    </div>
	<div class="fl">
    	<div><img src="images/zh_7.png"></div>
        <div><a href="index.php?m=member&a=user">在线客服</a></div>
    </div>
	<div class="fl">
    	<div><img src="images/zh_8.png"></div>
        <div><a href="/list-6-1.html">系统公告</a></div>
    </div>
	<div class="fl">
    	<div><img src="images/zh_9.png"></div>
        <div><a href="list-10-1.html">关于我们</a></div>
    </div>
	<div class="fl">
    	<div><img src="images/ico2.png"></div>
        <div><a href="index.php?m=member&a=zhuan">服务中心</a></div>
    </div>
	<div class="fl">
    	<div><img src="images/icos.png"></div>
        <div><a href="/uploadfile/psbc.pdf" style="margin-right: 4px;">中</a><a href="/uploadfile/psbc_en.pdf" style="margin-left: 4px">英</a></div>
    </div>
	<div class="fl">
    	<div><img src="images/icom.png"></div>
        <div><a >源代码</a></div>
    </div>
    <div class="fl" style="width: 100%"><a href="index.php?m=member&a=logout" style="padding: 5px; display: block; border: #eee 1px solid; border-radius: 20px; font-size: 16px;">退出登录</a></div>
    <div class="clear"></div>
</div>
<div class="hei40"></div>

{template 'member', 'footer'}